<div>
# Select method
<select name = "planet_id">
  <% @planets.each do |planet| %>
    <option value = "<%=planet.id%>"> <%= planet.name%></option>
  <% end %>
</select>
</div>

<div>
# Select_tag method 1
<%= select_tag(:origin_id, options_for_select(@planet_options)) %>
<%= select_tag(:destination_id, options_for_select(@planet_options)) %>
</div>

<div>
# Select_tag method 2
<%= select(:flight, :origin_id, @planet_options)%>
<%= select(:flight, :destination_id, @planet_options)%>
</div>

<div>
# Select_tag method 2 with nested form_for
<%= form_for @flight do |f| %>
    <%= f.select(:origin_id, @planet_options)%>
    <%= f.select(:destination_id, @planet_options)%>
    <%= f.select(:duration, @duration_options)%>
    <%= f.submit %>
<%end%>
</div>